# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Library/assetDatabase3
Library/assetDatabase3
Library/assetDatabase3
Library/metadata/af/af1b2f07e78c8a2468a0773cef0b71a4
Library/metadata/af/af1b2f07e78c8a2468a0773cef0b71a4.info
Assets/Resources/Sprites/bg.png.meta
Library/metadata/af/af1b2f07e78c8a2468a0773cef0b71a4
